  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="">
            <!--<a href="index.html" class="logo text-center">Fonik</a>-->
            <a href="index.html" class="logo"><img src="/images/logo.png" height="20" alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>

                <li class="menu-title">Menu</li>

                <li>
                    <a href="./Admin" class="waves-effect"><i class="dripicons-device-desktop"></i><span> Trang chủ </span></a>
                </li>
               
                <li>
                    <a href="./Khachhang" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i><span> Khách Hàng </span></a>
                </li>
                <li>
                    <a href="./DaoHan" class="waves-effect"><i class="mdi mdi-account-card-details"></i><span>Đáo Hạn</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-account-box"></i><span> Đổi Mật Khẩu</span></a>
                </li>
                <li>
                    <a href="./logout" class="waves-effect"><i class="mdi mdi-logout"></i><span> Đăng xuất </span></a>
                </li>

              

               
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->
