<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Fonik - Responsive Bootstrap 4 Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- App css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

    </head>


    <body>

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="index.html" class="logo logo-admin"><img src="/images/logo_dark.png" height="30" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Chào Mừng Bạn! Đây là website của đầu POS</h4>
                        <p class="text-muted text-center">Đăng nhập để tiếp tục.</p>

                        <form class="form-horizontal m-t-30" action="./Dangnhap" method="POST">

                            <div class="form-group">
                                <label for="username">Tài Khoản của POS</label>
                                <input type="text" class="form-control" id="username" name = "usernamepos" placeholder="Tài Khoản của bạn">
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Mật Khẩu</label>
                                <input type="password" class="form-control" id="userpassword" name="password" placeholder="Mật Khẩu của bạn">
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-sm-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Luôn nhớ</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Đăng Nhập</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20">
                                    <a action="./ResetMk" method="GET" type="submit" class="text-muted"><i class="mdi mdi-lock"></i> Quên mật khẩu?</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p>Không Có tài khoản <a href="./DangkyPos" class="font-500 font-14 text-primary font-secondary"> Đăng Kí </a> </p>
                <p>©2020Pos <i class="mdi mdi-heart text-danger"></i> by TomTran</p>
            </div>

        </div>


        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

    </body>
</html>