<!DOCTYPE html>
<html lang="en">

    <head>
     
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Đáo Hạn </title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/plugins/morris/morris.css">

        <!-- Basic Css files -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <%- include ("./partials/sliderbar") %>
            <!-- Left Sidebar End -->


            <!-- Start right Content here -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <%- include ("./partials/nav") %>
                    <!-- Top Bar End -->

                        <!-- ==================
                         PAGE CONTENT START
                         ================== -->

                         <div class="page-content-wrapper">

                            <div class="container-fluid">
                                
                                <div class="wrapper-page">

                                    
                        
                                            <h3 class="text-center m-0">
                                                <a href="index.html" class="logo logo-admin"><img src="/images/logo_dark.png" height="30" alt="logo"></a>
                                            </h3>
                        
                                            <div class="p-3">
                                               
                                           
                                                <p class="text-muted text-center">Đặt lại mật khẩu</p>
                                                <%- include ("./partials/error-alerts") %>
                                                <form class="form-horizontal m-t-30" action="./newpassword" method="POST">
                        
                                                    <div class="form-group">
                                                        <label for="username">Mật Khẩu Hiện Tại</label>
                                                        <input type="text" class="form-control" id="3" name = "oldpassword" placeholder="Mật Khẩu Hiện Tại">
                                                    </div>
                        
                                                    <div class="form-group">
                                                        <label for="userpassword">Mật Khẩu Mới</label>
                                                        <input type="password" class="form-control" id="1" name="Password" placeholder="Mật Khẩu mới của bạn">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="userpassword">Xác Minh Mật Khẩu</label>
                                                        <input type="password" class="form-control" id="2" name="Password" placeholder=" Xác Nhận Mật Khẩu Mới của bạn">
                                                    </div>
                        
                                                    <div class="form-group row m-t-20">
                                                        <div class="col-sm-6">
                                                            <div class="custom-control custom-checkbox">
                                                             
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Xác Nhận</button>
                                                        </div>
                                                    </div>
                        
                                                  
                                                </form>
                                            </div>
                        
                                       
                        
                                   
                        
                                </div>
                           
                      
                
    
                            </div><!-- container -->
    
                        </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    ©2020Pos<i class="mdi mdi-heart text-danger"></i> by Tom Tran
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>

        <!--Morris Chart-->
        <script src="/plugins/morris/morris.min.js"></script>
        <script src="/plugins/raphael/raphael-min.js"></script>

        <script src="/pages/dashboard.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

      
  
        <!-- Required datatable js -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
  
        <!-- Buttons examples -->
        <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/datatables/jszip.min.js"></script>
        <script src="/plugins/datatables/pdfmake.min.js"></script>
        <script src="/plugins/datatables/vfs_fonts.js"></script>
        <script src="/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/plugins/datatables/buttons.print.min.js"></script>
        <script src="/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
  
        <!-- Datatable init js -->
        <script src="/pages/datatables.init.js"></script>
  
      
  

    </body>
</html>